// ============================================================================
// LAYOUT: #Blog
// ============================================================================

main.blog {
  background: white;
  width: 80%;
  margin: 20px auto 40px;
  padding: 25px 30px;
  border-radius: 8px;
}
