// ============================================================================
// COMPONENT: #Buttons
// ============================================================================

.btn {
  border: 1px solid $gold;
  padding: 5px 10px;
  color: $white;
  text-decoration: none;
  font-size: 14px;
}
