# nuxt.js build output
.nuxt
.nitro
.cache
.output
dist

# Dependency directories
node_modules

# Logs
*.log*

# dotenv environment variables file
.env

# macOS
.DS_Store

# Local Netlify folder
.netlify
