// ============================================================================
// BASE: #Baseline
// ============================================================================

* {
  &,
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html,
body,
ul,
p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

img {
  max-width: 100%;
}
