// ============================================================================
// BASE: #Typography
// ============================================================================

h1,
h2,
h3,
h4 {
  font-family: $fontFamilyHeading;
  margin: 0;
  padding: 0;
}

p,
a,
small {
  font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
  color: $black;

  &:visited {
    color: $black;
  }

  &:hover {
    text-decoration: underline;
  }
}

.blog-post__heading {
  margin-bottom: 1em;
}

.blog-post__body {
  line-height: 1.5;

  p {
    margin-bottom: 1em;
  }
}
