@charset "utf-8";
.container {
	max-width: 760px;
	background-color: #FFF;
	background-image: none;
}
header {
	background-image: url(images/header_bg_tablet.png);
	backgrond-repeat: no-repeat;
	background-position: right-top;
}
.sidebar1 {
	width: 33%;
}
.content {
	width: 67%;
}