// ============================================================================
// SETTINGS: #Settings
// ============================================================================


// Colors
// ============================================================================

$black:    #222;
$darkBlue: #0f1f44;
$gold:     #fff820;
$white:    #fff;


// Font
// ============================================================================

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/BEBAS___-webfont.eot');
  src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BEBAS___-webfont.woff') format('woff'),
       url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
       url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$fontFamilyHeading: 'Bebas', sans-serif;


